@charset "utf-8";
/* CSS Document */

#principal{
	width: 1024px;
	height: 768;
	margin: 0 auto;
	}
	
header#cabecalho{
	border-radius: 10% 10% 0% 0%;
	width: 1024px;
	height: 100px;
	float: left;
	background-color:#121259;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#278F07;
	text-align:center;
}

nav#menu{
	width: 200px;
	height: 600px;
	background-color:#121259;
	float: left;
	
}
nav#menu ul{
padding:6px;
margin:0;
}
nav#menu li {	
text-align: center;
list-style: none; 	
padding:25px 5px; 
margin-bottom:2px;
font: 12px verdana, arial, helvetiva, sans-serif;	
}
nav#menu li a { 	
display:block;
color: #ffffff;	 
text-decoration: none; 
}
nav#menu li a:visited {	
color: #ffffcc;	
}
nav#menu li a:hover { 	
background-color:#C2C2F2;
color: #A68800; 	
}
section#corpo{
	width: 824px;
	height: 600px;
	background-color:#5353A5;
	float: left;
}

footer#rodape{
	width: 1024px;
	height: 68px;
	background-color:#121259;
	float:left;
	
}
footer#rodape h3{
	font-family: "arial";
	font-size: 10px;
	text-align:center;
	color:#CCC;
}