@charset "utf-8";
/* CSS Document */

#principal{
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	}
	
header#cabecalho{
	width: 1024px;
	height: 100px;
	background-color:#300;
	float: left;
	}
	
nav#menu{
	width: 200px;
	height: 600px;
	background-color:#C66;
	float: left;
	}
	
section#corpo{
	width: 824px;
	height: 600px;
	background-color:#FFF;
	float:left;	
	}

footer#rodape{
	width: 1024px;
	height: 68px;
	background-color:#300;
	float: left;
	}
