@charset "utf-8";
/* CSS Document */
body{
	background-image:url(fundo.jpg);
	
}

#principal{
	width: 1024px;
	height: 768px;
	margin:0 auto;
	}
	
header#cabecalho{
	width: 1024px;
	height: 250px;
	float: left;
	background-image:url(topo.jpg);
}

nav#menu{
	width: 150px;
	height: 518px;
	float:left;
	background-color: #384726;
	}
		nav#menu ul li{
		list-style:none;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		font-size:16px;
		font-weight:bold;
		color:#0C0;
		margin-top: 21px;
		margin-left: -25;
		
	}
	
section#corpo{
	width: 874px;
	height: 518px;
	background-color:#FFF;
	float:left;
	padding: 15px;
	}

section#corpo h1{
	font-family: "Arial Black";
	font-size: 24px;
	text-align:center;
	color: #000EB2;
	font-weight: bold;
	}
section#corpo p{	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 18px;
	text-align: justify;
	text-indent: 25px;
	color: #000EB2;
	font-style:italic;
	}