@charset "utf-8";
nav#menu{
	clear: both;
	color: #fff;
	background-color: #000;
	height: 25px;
	padding: 10px;
	font-weight: 1em;
	margin: 50px 0;
}
nav#menu ul{
	padding: 0;
	margin: 0;
	list-style: none;;
	float: left;
}
nav#menu ul li{
	display: inline;
	float: left;
	margin-right: 20px;
	position: relative;
}
nav#menu ul li a{
	color: #fff;
	background-color: #000;
	text-decoration: none;
	padding: 5px;
	display: block;
	margin: 0;
	float: left;
}
nav#menu ul li a:hover{
	background-color: #dedede;
	color: #666;	
}
.itemmenu a{
	background-color: #fff;
	color: #666;

}
nav#menu ul li ul{
	display: none;
	float: none;
	left: 0;
	position: absolute;
	top: 100%;
	border: solid 1px #000;
}
nav#menu ul li:hover> ul{
	display:  inline;
}
nav#menu ul li ul li,
nav#menu ul li ul li a{
	float: none;
	background-color: #444;
	color: #ccc;
}
nav#menu ul li ul li a:hover{
	float: none;
	background-color: #fff;
	color: #666;
}
nav#menu ul li ul li{
	margin: 0;
}

nav#menu ul li ul li ul{
	left: 100%;
	top 0;
}