ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
}
li ul{
	position: absolute;
	left: 140px;
	top 0;
	display: none;
}
ul li{
	position: relative;
}
li ul{
	position: absolute;
	left: 149px;

}
ul li a{
	display: block;
	text-decoration: none;
	color: #777;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	border-bottom: 1px solid #ccc;
}
li:hover ul { display: block;}