@charset "utf-8";
/* CSS Document */
#principal{
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

header#cabecalho{
	width: 1024px;
	height: 100px;
	background-color:#558BB2;
	float: left;
}
	
header#cabecalho h1{
	font-family: "magneto";
	font-size: 24px;
	text-align:center;
	color:#FFE8C6;
}
nav#menu{
	width: 150px;
	min-height: 931px;
	background-color:#666;
	float:left;
}
	nav#menu ul li{
		list-style:none;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		font-size:16px;
		font-weight:bold;
		color:#0C0;
		
	}
section#corpo{	
	width: 1024px;
	height: 100%;
	background-color:#ffdead;
	float: left;
}

	section#corpo h2{	
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
		font-size: 20px;
		text-align: center;
		color: #558BB2;
	}
	section#corpo h1{	
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
		font-size: 40px;
		text-align: center;
		color: #558BB2;
	}
	section#corpo ul{	
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
		font-size: 16px;
		text-align: justify;
		color: #253C4C;
	}

	section#corpo p{	
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		font-size: 14px;
		text-align: justify;
		text-indent: 25px;
		color: #253C4C;
	}

	section#corpo h3{	
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
		font-size: 18px;
		text-align: left;
		text-indent: 10px;
		color: #558BB2;
	}
	
	section#corpo td{	
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
		font-size: 10px;
		text-align: center;
		color: #558BB2;
	}

footer#rodape{
	width: 1024px;
	height: 68px;
	background-color:#558BB2;
	float: left;
}
footer#rodape h3{
	font-family: "arial";
	font-size: 10px;
	text-align:right;
	color:#CCC;
}