@charset "utf-8";
/* CSS Document */

#interface{
	width: 1024px;
	height: 768;
	margin: 0 auto;
	}
	
#cabecalho{
	/*width: 1024px;
	height: 100px;
	float: left;*/
	background-color:#1212B2;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#278F07;
	text-align:center;
}

#menu{
	/*width: 1024px;
	height: 68px;
	float: left;*/
	background-color:#1212B2;
	
}
#menu ul{
widht:110px;
padding:6px;
margin:0;
border:3px outset #ffffff;
}
#menu li {	
list-style: none; 	
padding:3px 5px; 
margin-bottom:2px;
font: 12px verdana, arial, helvetiva, sans-serif;	
}
#menu li a { 	
display:block;
color: #ffffff;	 
text-decoration: none; 
}
#menu li a:visited {	
color: #ffffcc;	
}
#menu li a:hover { 	
color: #000; 	
}
#corpo{
	border-radius: 1%;
	/*width: 1024px;
	height: 500px;
	float: left;*/
	background-color:#FFDEAD;
}
#corpo form{
	text-align: center;
}
#corpo h2{
	text-align: center;
}

#rodape{/*
	width: 1024px;
	height: 68px;
	float:left;*/
	background-color:#1212B2;
	
}
#rodape h6{
	font-family: "arial";
	font-size: 10px;
	text-align:center;
	color:#CCC;
}